#root {
  min-height: 100vh;
  width: 100%;
}

.hideOverflow {
  overflow-y: hidden;
}
.tileList {
  margin: 0;
  padding: 1rem;
  display: block;
  column-count: 4;
  column-gap: 16px;
  margin: 0 auto;
}

.tileList .tileList__item {
  break-inside: avoid;
  position: relative;
  width: 200px;
  margin-bottom: 1rem;
  list-style-type: none;
}

.singleTileRoute {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.tileLink {
  display: block;
  width: 100%;
  min-height: 100%;
}
